*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("/img/background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100VH;
    width: 100%;
}
/* contact form styling */
.contact-form{
    width: 85%;
    max-width: 600px;
    background: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 40px;
    border-radius: 8px;
    text-align: center;
}

/* form styling */
.form{
    border: 1px solid #a9a9a9;
    margin: 7px 0px;
    padding: 6px 20px;
}

/* h1 styling */
.contact-form h1{
    font-weight: 500;
    margin-top: opx;
}

/* label styling */
.form label{
    font-size: 13px;
    color: #000;
    display: block;
    text-align: left;
    text-transform: uppercase;
}

/* input and text area styling */
.form input, .form textarea{
    width: 100%;
    font-size: 15px;
    margin-top: 5px;
    border: none;
    outline: none;
    background: none;
}

/* botton styling */
.btn{
    width: 100%;
    display: inline-block;
    background-color: #95c44f;
    padding: 14px 0px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 8px;
    cursor: pointer;
}

/* botton hover styling */
.btn:hover{
    color: #fff;
}